@{
    ViewBag.Title = "Добавление товара";
}
<a asp-action="Create">Добавить товар</a>
<table class="table">
    <tr><td>ID</td><td>Имя</td><td>пароль</td><td>Роль</td><td>Статус</td></tr>

    @foreach (var item in ViewBag.allproduct)
    {
        <tr><td>@item.Id</td><td>@item.Name</td><td>@item.Description</td><td>@item.Price</td><td>@item.Availability</td></tr>
    }
</table>